{% extends "mailing/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Восстановление пароля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Введите ваш адрес электронной почты:</label>
            <input type="email" name="email" id="id_email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить ссылку для сброса пароля</button>
    </form>
</div>
{% endblock %}
