{% extends "mailing/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Сброс пароля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Новый пароль:</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Повторите новый пароль:</label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
</div>
{% endblock %}
